<h1><%=title%></h1>
<div class="card">
    <div class="card-header" style="font-size: 15px; color: gray;">
        <span>작성자 : <%=post.writer%></span>
        <span class="ms-3">작성일 : <%=post.formatted_pdate%></span>
    </div>
    <div class="card-body">
        <div><b>[<%=post.pid%>] <%=post.title%></b></div>
        <hr>
        <div><%-post.contents.replace(/\n/g, '<br/>')%></div>
    </div>
    <div class="card-footer text-end" id="buttons" style="font-size: 12px; color: gray;">
        <a class="btn btn-dark btn-sm px-3 update" href="/posts/update?pid=<%=post.pid%>">수정</a>
        <button class="btn btn-secondary btn-sm px-3 delete">삭제</button>
    </div>
</div>

<script>
    const writer = "<%=post.writer%>";
    if(uid == writer){
        $('#buttons').show();
    }else {
        $('#buttons').hide();
    }

    $('#buttons').on("click", ".delete", function(e){
        e.preventDefault();
        const pid = "<%=post.pid%>";
        if(confirm(`${pid}번 게시글을 삭제하시겠습니까?`)){
            // 삭제작업
            location.href="/posts/delete?pid=" + pid;
        }
    });
</script>